/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.ui-widget-header {
	background: #ffffff;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #dddfe3;
}

.ui-tabs .ui-tabs-nav li:hover {
	background: #bcbfe3;
}

/* firefox hack */
@-moz-document url-prefix() {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		height: 16px;
	}
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor span {
		position: relative;
		top: -15px;
	}
}

.ui-state-focus a,
.ui-widget-header .ui-state-focus a {
	border-right: none;
}

.tab-wrapper {
	width: 97%;
}

.tab-frame {
	border: none;
}
